body {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}
footer {
  background: #2f303a;
}
/* верхняя линия, навигация */
.webstudio-link {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  color: #2196f3;
}
.links-navigation {
  font-size: 14px;
  color: #212121;
}
.links-navigation .link:hover,
.links-navigation .link:focus {
  color: #2196f3;
}

/* как связаться */
.email-link,
.tel-link {
  font-style: normal;
  font-size: 14px;
  color: #757575;
}

.address-link {
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
}
/* кнопки */
.buttons {
  font-size: 16px;
  color: #212121;
  background: #f5f4fa;
}
.buttons .type:hover,
.buttons .type:focus {
  color: #2196f3;
}
/* наши проекты */
h2 {
  font-size: 18px;
  color: #212121;
}
p {
  font-size: 16px;
  color: #757575;
}
